<nav>
    <div class="leftNav">
        <a href="/home" class="brand">
            <img src="../images/chef-hat-png-1.png" alt="Recipes" class="logo">
            <h1>Recipes</h1>
        </a>
        <i class="fa fa-bars" id="menuButton"></i>
        <ul id="list">
            <li><a href="/about"><i class="fa-solid fa-circle-info"></i>&nbsp;<b>About</b></a></li>
            <li><a href="/favorites"><i class="fa-solid fa-heart"></i>&nbsp;<b>Our Favorites</b></a></li>
            <li><a href="/contact"><i class="fa-solid fa-inbox"></i>&nbsp;<b>Contact</b></a></li>
            <li><a href="/playground/userlist"><i class="fa-solid fa-address-book"></i><b>User List</b></a></li>
            <% if(locals.user) {%>
                <li><a href="/auth/logout"><i class="fa-solid fa-sign-out"></i><b>Logout <%=user.username%></b></a></li>
                <li><a href="/myaccount"><i class="fa-solid fa-tasks"></i><b>My Account</b></a></li>
            <%} else {%>
                <li><a href="/auth/login"><i class="fa-solid fa-user"><b>Login</b></i></a></li>
            <%}%>
        </ul>
    </div>

    <div class="search">
        <form action="/search" method="GET">
            <input type="text" id="searchInput" class="input" name="query" placeholder="Search..." required>
            <button class="btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</nav>
<div class="page">
    <div class="menu">
        <ul>
            <li><a href="/home"><i class="fa-solid fa-house"></i>&nbsp;<b>Home</b></a></li>
            <li><a href="/about"><i class="fa-solid fa-circle-info"></i>&nbsp;<b>About</b></a></li>
            <li><a href="/favorites"><i class="fa-solid fa-heart"></i>&nbsp;<b>Our Favorites</b></a></li>
            <li><a href="/contact"><i class="fa-solid fa-inbox"></i>&nbsp;<b>Contact</b></a></li>
            <li><a href="/playground/userlist"><i class="fa fa-address-book"><b>User List</b></i></a></li>
            <% if(locals.user) {%>
            <li><a href="/auth/logout"><i class="fa fa-sign-out"></i><b>Logout <%=user.username%></b></a></li>
            <%} else {%>
                <li><a href="/auth/login"><i class="fa-solid fa-user"><b>Login</b></i></a></li>
            <%}%>
        </ul>
</div>
