/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,500&family=Montserrat:wght@400;500;600&display=swap");


/* REUSABLE CSS CLASSES */
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}
.main {
  overflow: hidden; /* for Animation Scrollreveal */
}

/* HOME */
.home__swiper {
  margin: initial;
}
.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}
.home__data {
  text-align: center;
}
.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}
.home__description {
  margin-bottom: 2rem;
}
.home__images {
  display: grid;
}
.home__article,
.home__img {
  width: 220px;
  transition: scale 0.4s;
}
.home__article {
  scale: 0.8;
}

/* Swiper Class */
.swiper-slide-active,
.swiper-slide-duplicate-active {
  scale: 1;
}

/* BUTTON */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 1.5rem;
  transition: box-shadow 0.4s;
}
.button:hover {
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, 0.4);
}

/* Swiper Class */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  transition: border 0.4s, background-color 0.4s;
}



@media screen and (min-width: 576px) {
  
  .home__container{
    grid-template-columns: 420px;
    justify-content: center;
  }
  
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: 580px;
  }
  .home__data {
    width: 420px;
    justify-self: center;
  }
  
}

/* for large devices */
@media screen and (min-width: 1150px) {
 
  .home__data {
    width: initial;
  }

}

@media screen and (min-width: 1220px) {
  .container {
    margin-inline: auto;
  }
  .home__container {
    grid-template-columns: 435px 745px;
    align-items: center;
    padding-block: 7rem 2rem;
  }
  .home__data {
    text-align: initial;
  }

  .home__title {
    /*kode buat sendiri*/
    font-size: 3.3rem;
  }
  .home__description {
    margin-bottom: 4rem;
  }
  .home__article,
  .home__img {
    width: 290px;
  }
}