
/* ------------------Homepage-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Protest+Riot&family=Space+Grotesk:wght@300..700&display=swap');
.landingpage{
    background: linear-gradient(to bottom right, #F3EFE0 50%, transparent 50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.landingpage.content{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
}
.landingpage.content.landing-heading{
    width: 100%;
}
.landing-heading h1{
    font-size: 60px;
    font-family: "Space Grotesk", sans-serif;
}


.img {
    width: 42%;
    height: auto;
    border-radius: 60%;
    margin-left: 600px;
    margin-top: -250px;
  
  }
.landing-heading p {
    font-size: 24px;
    color: #D2691E;
}

.main-button {
    display: inline-block;
    padding: 7px 10px;
    font-size: 24px;
    border: none;
    border-radius: 2px;
    background-color:#D2B48C; 
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Hover effect */
.main-button:hover {
    background-color: #dfc8a9; 
}

/* Image Slide*/

.scroll {
    text-align: center;
}
.scroll h1 span{
    
    background: #D2B48C;
    color: white;
    display: inline-block;
    padding: .3rem 1rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%,7% 50%,0% 0%);
    margin-top: 2px;
}
.scroll hr {
    width: 75%;
    height: 3.5px; 
    background-color: #F3EFE0; 
    border: none; 
    margin: 50px auto; 
  
    
}
.horizontal-scroll{
    width: 1050px;
    display: flex;
    overflow-x: scroll;
}
.horizontal-scroll div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    flex: none;
}
.horizontal-scroll div img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    
}
.horizontal-scroll::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
}

#backBtn,#nextBtn{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 40px;
}
.horizontal-scroll div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}


/* ------------------SubsribeSection--------------------- */

.small-box{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
    
}

.small-box h2{
    text-align: center;
}

.small-box img {
    height: 100%;
    width: auto;

}

.small-box .subscription-info{
    background-color: #F3EFE0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}
.small-box .subscription-info form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-box .subscription-info .field{
    display: block;
    margin-bottom: 9px;
}

.input-name-label {
    font-size: 18px; 
    margin-bottom: 20px;
}

.input-email-label {
    font-size: 18px; 
    margin-top: 20px;
}

.input-name-field{
    font-size: 18px; 
    padding: 8px; 
}

.input-email-field {
    font-size: 18px; 
    padding: 8px; 
}

.subscribe-button {
    background-color: black;
    color: white;
    width: 150px; 
    height: 40px; 
    border: none; 
    
}

.subscribe-button:hover {
    opacity: 70%;
}
/*-----------------CardHoverEffect-----------------*/
.card-heading{
    text-align: center;
   
}
.card-heading span{
    background: #D2B48C;
    color: white;
    display: inline-block;
    padding: .1rem 1rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%,7% 50%,0% 0%);
    margin-top: 2px;
}
.card-wrapper{
    display: flex;
    width: 75%;
    height: 50%;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 340px;
}

.card-hover{
    height: 650px;
}

.card{
    height: 50%;
    width: 100%;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}
.card:hover{
    transform: translateY(20px);
}

.card img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    }
.card .info{
    position: absolute;
    top:15px;
    
    width: 90%;
    overflow:hidden;
    z-index: 3;
    color: black;
    padding: 20px; /* Adjust padding as needed */
    background-color: #D2B48C; 
    opacity: 0;
    transform: translateY(0px);
    transition: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin: 0;

}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 1.5;

}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color:#000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

/* ------------------ReviewSection--------------------- */
.review-heading{
    text-align: center;
}
.review-heading span{
    background: #000;
    color: white;
    display: inline-block;
    padding: .5rem 1rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%,7% 50%,0% 0%);
}


.review .review-slider{
    border: 0px solid;
    padding: 1rem;
    width: 80%;
}

.review .review-slider .box{
    border: 0px solid red;
    background: #fff;
    border-radius: .3rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--box-shadow);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    
}
.review .review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px #D2B48C;
}
.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding: 0.7rem 0;
    line-height: 0.8;
    color: #666;
    font-size: 1.2rem;
}
.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: #130f40;
    font-size: 2.2rem;
}

.review .review-slider .box .stars i{
    
    color: orange;
    font-size: 1.2rem;
}


.swiper-wrapper{
    width: 60%;
}

/* ------------------Mobile Navigation----------------- */
@media (max-width: 1055px){
    .img{
        display: none;
    }
    .small-box img {
        display: none;
    }
    .small-box .subscription-info{
        width: 75%;
    }
    hr {
        width: 80%;
    }
    .card .info{
        display: none;
    }

}

@media (max-width: 1335px){
    .card{
        height: 100px;
    }

}

@media (max-width: 800px){
    .horizontal-scroll div img{
        width: 250px;
        height: 100%;
        transition: transform 0.5s;
        
    }
}
