.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F3EFE0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 2px; 
    margin: 20px auto; 
    width: 80%; 
    max-width: 600px; 
    margin-top: 45px;
}

.search-bar label[for="searchInput"] {
    text-align: center;
}

.search-bar input[type="text"], 
.search-bar input[type="submit"] {
    width: 100%;
    padding: 10px 15px; 
    margin: 5px 0; 
    border: none;
    border-radius: 2px; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); 
    font-size: 16px; 
}

.search-bar input[type="submit"] {
    background-color: black; 
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar input[type="submit"]:hover {
    opacity: 70%; 
}

.search-bar label {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0; 
    display: block;
    color: #333333;
}

.search-bar-checkbox, .search-bar-radio {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    margin: 5px 0; 
}

.search-bar-checkbox label, .search-bar-radio label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.search-bar-checkbox input[type="checkbox"], 
.search-bar-radio input[type="radio"] {
    width: auto;
    margin-right: 5px; 
}

.search-bar input[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
}

.recipes{
    margin: 80px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    column-gap: 20px;
}

.recipes a{
    text-decoration: none;
    color: black;
}


.card{
    height: 400px;
    width: 270px;
    border-radius: 3px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
    
    transition: transform ease 300ms;
}

.card:hover{
    height: 400px;
    width: 270px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
    
    transform: translateY(-10px);
}

.card img{
    overflow: hidden;
    height: 70%;
    width: 100%;
}

.card .text{
    margin-left: 10px;
}

.card>.text>h4,.card>.text>h6{
    margin-top: 4px;
    margin-bottom: 4px;
} 

.results{
    margin-left: 40px;
}

.results {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin: 20px 88px;
}
