/*----------------Initial Configurations----------------*/
:root {
    --header-height: 3.5rem;
  
    /* Colors */
    /* Color mode HSL(hue, Saturation, lightness) */
    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(230, 70%, 16%);
    --text-color: hsl(230, 16%, 45%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);
  
    /* Font And Typography */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  
    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /* Responsive Typography  */
  @media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
  
  /* BASE */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body,
  input,
  button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color 0.4s;
  }
  input,
  button {
    border: none;
    outline: none;
  }
  h1,
  h2,
  h3,
  h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
/* -----------------Root------------------------------- */
:root{
    --font-color: #f3efe0;
    --footer-background: #000000;   
    --navbar-hover-color: #F5DEB3; 
    --navbar-background:#D2B48C;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);

/* Colors */
  /* Color mode HSL(hue, Saturation, lightness) */
  --first-color: hsl(36, 77%, 59%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(231, 5%, 26%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(41, 82%, 89%);
  --container-color: hsl(230, 100%, 97%);
}


/* ------------------Navbar---------------------------- */


nav{
    background-color: var(--navbar-background);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 7;
    transition: all .3s ease-in-out;
}

nav.active{
    background-color:#000000;
    color: white;
    box-shadow: 0 2px 10px rgba(134, 133, 133, 0.3);
    height: 50px;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: black;
    text-decoration: none;
}

.logo{
    height: 50px;
    width: 50px;
}

nav.active .leftNav .brand{
    display: none;
}

.leftNav{
    display: flex;
    align-items: center;
}

#menuButton{
    display: none;
    height: 90%;
    align-items: center;
    margin-left: 10px;
}


.leftNav>ul{ 
    display: flex;
    flex-shrink: 2;
    list-style: none;
    margin:0;
    padding: 0;
}


.leftNav>ul>li{
    margin: 0 10px;
}

.leftNav>ul>li>a{
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease; 
    padding: 10px 15px; 
    
}

.leftNav > ul > li > a:hover {
    background-color: var(--navbar-hover-color);
}

.search {
    margin-right: 40px;
    position: relative;
}

.search .input{
    height: 35px;
    width: 35px;
    position: absolute;
    transition: width 0.3s ease-out, transform 0.3s ease-out; 
}

/*Class added in js */
.search.active .input{
    transform: translateX(-300px);
    width: 300px;
}

.search .btn{
    background-color: #D2B48C;
    border: 0;
    height: 35px;
    width: 35px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0;
}


.search .btn:hover{
    background-color:#eeddc6;
    
}

.btn:focus,
.input:focus{
    outline:none;
}


/* --------------SideNavbar---------------------------- */
.page{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.page .menu{
    visibility: hidden;
    width: 0px;
    height: 0px;
    transition: width 0.3s ease-in-out;
    background-color: black;
}

.page .menu.active{
    display: flex;
    visibility: visible;
    height: 100%;
    padding-top: 20px;
    width: 40%;
    padding-right: 20px;
    position: fixed;
    z-index: 3;
    background-color: black;
    color: white;
    transition: width 0.4s ease-out

    
}

.page .main{
    height: 100%;
    width: 100%;
    
    z-index: 1;
}

.page ul{
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}
.page ul li{
    margin-bottom: 10px;
}
.page ul li a{
    color: inherit;
    text-decoration: none;
}
/* ------------------Other Features--------------------------- */
hr {
    width: 900px;
    height: 3.5px; 
    background-color: #F3EFE0; 
    border: none; 
    margin: 20px auto; 
}


.button{
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 2px;
    background: #000000;
    cursor: pointer;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
}




/* ------------------Footer--------------------------- */
footer{
    background-color: var(--footer-background);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 100%;
    position: relative; 
    bottom: 0px; 
}

.footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text hr{
    margin: 0;
}
/* ------------------Mobile Responsive----------------- */
@media (max-width: 1010px){
    nav .brand{
        display: none;
    }
    #menuButton{
        visibility: visible;
        display: flex;
        margin-left: 40px;
        position: relative;
        cursor: pointer;
    }
    .leftNav>ul{ 
        display: none;
    }
}

