/*----------------Initial Configurations----------------*/

*{
    box-sizing: border-box;
}
html{
    height: 100vh;
    
}

body{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
/* -----------------Root------------------------------- */
:root{
    --font-color: #f3efe0;
    --footer-background: #000000;   
    --navbar-hover-color: #F5DEB3; 
    --navbar-background:#D2B48C;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}


/* ------------------Navbar---------------------------- */


nav{
    background-color: var(--navbar-background);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 7;
    transition: all .3s ease-in-out;
}

nav.active{
    background-color:#000000;
    color: white;
    box-shadow: 0 2px 10px rgba(134, 133, 133, 0.3);
    height: 50px;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: black;
    text-decoration: none;
}

.logo{
    height: 50px;
    width: 50px;
}

nav.active .leftNav .brand{
    display: none;
}

.leftNav{
    display: flex;
    align-items: center;
}

#menuButton{
    display: none;
    height: 90%;
    align-items: center;
    margin-left: 10px;
}


.leftNav>ul{ 
    display: flex;
    flex-shrink: 2;
    list-style: none;
    margin:0;
    padding: 0;
}


.leftNav>ul>li{
    margin: 0 10px;
}

.leftNav>ul>li>a{
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease; 
    padding: 10px 15px; 
    
}

.leftNav > ul > li > a:hover {
    background-color: var(--navbar-hover-color);
}

.search {
    margin-right: 40px;
    position: relative;
}

.search .input{
    height: 35px;
    width: 35px;
    position: absolute;
    transition: width 0.3s ease-out, transform 0.3s ease-out; 
}

/*Class added in js */
.search.active .input{
    transform: translateX(-300px);
    width: 300px;
}

.search .btn{
    background-color: #D2B48C;
    border: 0;
    height: 35px;
    width: 35px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-radius: 0;
}


.search .btn:hover{
    background-color:#eeddc6;
    
}

.btn:focus,
.input:focus{
    outline:none;
}


/* --------------SideNavbar---------------------------- */
.page{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.page .menu{
    visibility: hidden;
    width: 0px;
    height: 0px;
    transition: width 0.3s ease-in-out;
    background-color: black;
}

.page .menu.active{
    display: flex;
    visibility: visible;
    height: 100%;
    padding-top: 20px;
    width: 40%;
    padding-right: 20px;
    position: fixed;
    z-index: 3;
    background-color: black;
    color: white;
    transition: width 0.4s ease-out

    
}

.page .main{
    height: 100%;
    width: 100%;
    
    z-index: 1;
}

.page ul{
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}
.page ul li{
    margin-bottom: 10px;
}
.page ul li a{
    color: inherit;
    text-decoration: none;
}
/* ------------------Other Features--------------------------- */
hr {
    width: 900px;
    height: 3.5px; 
    background-color: #F3EFE0; 
    border: none; 
    margin: 20px auto; 
}


.button{
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 2px;
    background: #000000;
    cursor: pointer;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
}




/* ------------------Footer--------------------------- */
footer{
    background-color: var(--footer-background);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 100%;
    position: relative; 
    bottom: 0px; 
}

.footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text hr{
    margin: 0;
}
/* ------------------Mobile Responsive----------------- */
@media (max-width: 1010px){
    nav .brand{
        display: none;
    }
    #menuButton{
        visibility: visible;
        display: flex;
        margin-left: 40px;
        position: relative;
        cursor: pointer;
    }
    .leftNav>ul{ 
        display: none;
    }
}

