@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  display: flex; /* Use flexbox to center child elements */
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Center content horizontally */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh; /* Adjust height as needed */
  width: 100vw; /* Full viewport width */
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 90%; /* Full height of the container */
  width: 90%; /* Full width of the container */
  background-position: center; /* Center the background image */
  background-size: cover;
  position: absolute; /* Maintain absolute but will be centered by flexbox */
  transition: opacity 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  background-color: transparent;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  left: 20px; /* Position arrow from the left edge */
}

.right-arrow {
  right: 20px; /* Position arrow from the right edge */
}