<%- include('../partials/header-pages'); -%>
<%- include('../partials/nav-pages'); -%>
<div class="main">
  <%- include('../partials/messages');%>
  <div class="login-container">
      <form action="/auth/login" method="post" autocomplete="off" id="loginForm" class="login-left">
          <div class="login-left-title">
              <h2>Login</h2>
              <hr>
          </div>

          <label for="username">Username:</label>
          <input type="text" id="username" name="username" placeholder="Username" class="login-inputs" required>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Your Password" class="login-inputs" required>

          <div class="form-check">
            <label class="form-check-label" for="rememberme">Remember me:</label>
            <input type="checkbox" class="form-check-input" id="rememberme" name="remember" value="1">
          </div>
          
          <div class="button-container">
              <button class="button" type="submit">Submit</button>
          </div>
          

          <div class="register">
            <span class="bg-light">You don't have an account already?</span>
            <p class="text-center">
              <a class="btn btn-block btn-secondary" href="/auth/register">Register</a>
            </p>
          </div>

          <div><a href="/auth/resetpassword">Forgot Password?</a></div>
      </form>
      <div class="login-right">
          <img src="../images/pasta.jpg" alt="">
      </div>
  </div>



</div>
</div>

<%- include('../partials/footer-pages') %>

<script src="../javascripts/searchBar.js" async defer></script>
<!--<script src="../javascripts/contact.js" async defer></script>-->
<script src="../javascripts/ripple.js" async defer></script>
</body>
</html>
