<%- include('../partials/header-pages') %>

<%- include('../partials/nav-pages') %>

<div class="main">
    <div class="contact-container">
        <form action="#" method="post" id="contactForm" class="contact-left">
            <div class="contact-left-title">
                <h2>Contact Us</h2>
                <hr>
            </div>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Your Name" class="contact-inputs" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Your Email" class="contact-inputs" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" placeholder="Your Message" class="contact-inputs" required></textarea>

            <div class="button-container">
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
        <div class="contact-right">
            <img src="../images/pasta.jpg" alt="">
        </div>
    </div>



</div>
</div>

<%- include('../partials/footer-pages') %>

<script src="../javascripts/searchBar.js" async defer></script>
<!--<script src="../javascripts/contact.js" async defer></script>-->
<script src="../javascripts/ripple.js" async defer></script>
</body>
</html>
