<%- include('../partials/header-pages') %>

<%- include('../partials/nav-pages') %>
<link rel="stylesheet" href="../stylesheets/udemyday18.css">




<div class="main">
    <h1 class="content-card-heading" style="color:white">Our Favorite Books </span></h1>
    <body>
    <div class="block"></div>
    <div class="slider-container">
        <div
          class="slide active"
          style="
            background-image: url('https://variety.com/wp-content/uploads/2024/03/books-to-movie-adaptations.png?w=1000');
          "
        ></div>
        <div
          class="slide"
          style="
            background-image: url('https://static.wixstatic.com/media/9d20e6_59ceff9615b44853a06791e1db3a3ce4~mv2.jpg/v1/fill/w_640,h_334,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/9d20e6_59ceff9615b44853a06791e1db3a3ce4~mv2.jpg');
          "
        ></div>
  
        <div
          class="slide"
          style="
            background-image: url('https://orion-uploads.openroadmedia.com/lg_6b2ec305689a-best-book-covers.jpg');
          "
        ></div>
  
        <div
          class="slide"
          style="
            background-image: url('https://www.theyellowsparrow.com/wp-content/uploads/2016/09/creative-book-covers1-1050x421.jpg');
          "
        ></div>
  
        <div
          class="slide"
          style="
            background-image: url('https://ashsinfinitelibrary.wordpress.com/wp-content/uploads/2021/08/where-the-crawdads-sing-international-editions.jpg?w=1024');
          "
        ></div>
  
        <button class="arrow left-arrow" id="left">
          <i class="fas fa-arrow-left"></i>
        </button>
  
        <button class="arrow right-arrow" id="right">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      </body>





</div>


</div>

<%- include('../partials/footer-pages') %>

<%- include('../partials/scripts') %>

<script src="../javascripts/favorites.js"></script>
<script src="../javascripts/udemyday18.js" defer></script>

</body>
</html>