<%- include('../partials/header-pages') %>

<%- include('../partials/nav-pages') %>

<div class="main">

    <!--Expanding Cards-->
    <h1 class="content-card-heading">Our Favorite Recipes</span></h1>
    <div class="content">
        <div class="container">
            <a class="panel" href="https://www.food.com/recipe/green-yellow-squash-linguini-w-shrimp-scampi-471158" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/47/11/58/xcbHanqGRVuBjofzf61Y_yellow-squash-zucchini-shrimp-scampi-8114.jpg')">
                <h3>Yellow Squash Linguini with Shrimp Scamp</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/balsamic-chicken-and-mushrooms-54726" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/54/72/6/JHPjkwTS0OLeAtIL8gp4_chicken%20and%20mushrooms-2.jpg')">
                <h3>Balsamic Chicken and Mushrooms</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/stuffed-bell-peppers-vegetarian-or-beef-153170" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/15/31/70/7KAkq3kSSyWtsBQrNVOQ_0S9A1503.jpg')">
                <h3>Stuffed Bell Peppers</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/crustless-spinach-quiche-56836" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/56/83/6/HbDn5WWBSiSH95U27661_0S9A2644.jpg')">
                <h3>Crustless Spinach Quiche</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/baby-bok-choy-with-garlic-104240" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/10/42/40/74Ds9kCVTmKmlTEjc3Ps_DSC_9327.jpg')">
                <h3>Baby Bok Choy with Garlic</h3>
            </a>
        </div>
    </div>
    <!--Videos-->

    <section class="videos">
        <h1 class="videos-heading">Our Favorite Videos</span></h1>
        <div class="videos-wrapper">
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FTociictyyE?si=UnImzdI7QCPZMweA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>Basic Cooking Tips</h3>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LzWb_P4lYgA?si=dKXt3h8Un7fSVvrS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>Speed Cooking Tutorial</h3>
            </div>

            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jwWpTAXu-Sg?si=F7nuc59h3dhhaftU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>How to Eat Healthy</h3>
            </div>
        </div>
    </section>

</div>


</div>

<%- include('../partials/footer-pages') %>

<script src="../javascripts/searchBar.js" async defer></script>
<script src="../javascripts/favorites.js"></script>

</body>
</html>