<%- include('../partials/header-pages') %>

<%- include('../partials/nav-pages') %>




<div class="main">

    <h1 class="content-card-heading">Our Favorite Books </span></h1>
    <link rel="stylesheet" href="../stylesheets/udemyday18.css">
    <body>
    <div class="slider-container">
        <div
          class="slide active"
          style="
            background-image: url('https://variety.com/wp-content/uploads/2024/03/books-to-movie-adaptations.png?w=1000');
          "
        ></div>
        <div
          class="slide"
          style="
            background-image: url('https://static.wixstatic.com/media/9d20e6_59ceff9615b44853a06791e1db3a3ce4~mv2.jpg/v1/fill/w_640,h_334,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/9d20e6_59ceff9615b44853a06791e1db3a3ce4~mv2.jpg');
          "
        ></div>
  
        <div
          class="slide"
          style="
            background-image: url('https://orion-uploads.openroadmedia.com/lg_6b2ec305689a-best-book-covers.jpg');
          "
        ></div>
  
        <div
          class="slide"
          style="
            background-image: url('https://www.theyellowsparrow.com/wp-content/uploads/2016/09/creative-book-covers1-1050x421.jpg');
          "
        ></div>
  
        <div
          class="slide"
          style="
            background-image: url('https://ashsinfinitelibrary.wordpress.com/wp-content/uploads/2021/08/where-the-crawdads-sing-international-editions.jpg?w=1024');
          "
        ></div>
  
        <button class="arrow left-arrow" id="left">
          <i class="fas fa-arrow-left"></i>
        </button>
  
        <button class="arrow right-arrow" id="right">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      </body>



    <!--Expanding Cards-->
<!--
    <h1 class="content-card-heading">Our Favorite </span></h1>
    <div class="content">
        <div class="container">
            <a class="panel" href="https://www.food.com/recipe/green-yellow-squash-linguini-w-shrimp-scampi-471158" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/47/11/58/xcbHanqGRVuBjofzf61Y_yellow-squash-zucchini-shrimp-scampi-8114.jpg')">
                <h3>Yellow Squash Linguini with Shrimp Scamp</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/balsamic-chicken-and-mushrooms-54726" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/54/72/6/JHPjkwTS0OLeAtIL8gp4_chicken%20and%20mushrooms-2.jpg')">
                <h3>Balsamic Chicken and Mushrooms</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/stuffed-bell-peppers-vegetarian-or-beef-153170" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/15/31/70/7KAkq3kSSyWtsBQrNVOQ_0S9A1503.jpg')">
                <h3>Stuffed Bell Peppers</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/crustless-spinach-quiche-56836" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/56/83/6/HbDn5WWBSiSH95U27661_0S9A2644.jpg')">
                <h3>Crustless Spinach Quiche</h3>
            </a>
            <a class="panel" href="https://www.food.com/recipe/baby-bok-choy-with-garlic-104240" target="_blank" style="background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_860,ar_3:2/v1/img/recipes/10/42/40/74Ds9kCVTmKmlTEjc3Ps_DSC_9327.jpg')">
                <h3>Baby Bok Choy with Garlic</h3>
            </a>
        </div>
    </div>
-->


    <!--Videos-->
<!--
    <section class="videos">
        <h1 class="videos-heading">Our Favorite Videos</span></h1>
        <div class="videos-wrapper">
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FTociictyyE?si=UnImzdI7QCPZMweA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>Basic Cooking Tips</h3>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LzWb_P4lYgA?si=dKXt3h8Un7fSVvrS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>Speed Cooking Tutorial</h3>
            </div>

            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jwWpTAXu-Sg?si=F7nuc59h3dhhaftU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>How to Eat Healthy</h3>
            </div>
        </div>
    </section>
-->

</div>


</div>

<%- include('../partials/footer-pages') %>

<script src="../javascripts/searchBar.js" async defer></script>
<script src="../javascripts/favorites.js"></script>
<script src="../javascripts/udemyday18.js" defer></script>

</body>
</html>