<%- include('../partials/header-pages') %>
<!--<body>-->
    <%- include('../partials/nav-pages') %>

    <!-- MAIN START -->
    <main class="main">
      <!-- HOME START -->
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">
              Browse &<br />
              Select E-Books
            </h1>
            <p class="home__description">
              Find the best E-books from you favorite writers, explore hundreds
              of books with all possible categories, take advantage of the 50%
              discound and much more.
            </p>
            <a href="#" class="button">Explore Now</a>
          </div>
          <div class="home__images">
            <div class="home__swiper swiper">
              <div class="swiper-wrapper">
                <article class="home__article swiper-slide">
                  <img
                    src="../images/home-book-1.png"
                    alt="image"
                    class="home__img"
                  />
                </article>
                <article class="home__article swiper-slide">
                  <img
                    src="../images/home-book-2.png"
                    alt="image"
                    class="home__img"
                  />
                </article>
                <article class="home__article swiper-slide">
                  <img
                    src="../images/home-book-3.png"
                    alt="image"
                    class="home__img"
                  />
                </article>
                <article class="home__article swiper-slide">
                  <img
                    src="../images/home-book-4.png"
                    alt="image"
                    class="home__img"
                  />
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- HOME END -->

<%- include('../partials/footer-pages') %>

    <!-- SWIPER JS -->
    <script src="../javascripts/swiper-bundle.min.js"></script>

    <!-- MAIN JS -->
    <script src="../javascripts/home-books.js"></script>
  </body>
</html>