<%- include('../partials/header-pages'); -%>
<%- include('../partials/nav-pages'); -%>
  

<div class="main">
    <hr>
    <hr>
    <h1>Not Found!</h1>
</div>


<%- include('../partials/footer-pages') %>

    <!-- SWIPER JS -->
    <script src="../javascripts/swiper-bundle.min.js"></script>

    <!-- MAIN JS -->
    <script src="../javascripts/home-books.js"></script>
    <script src="../javascripts/searchBar.js" async defer></script>

  </body>
</html>